
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 20px;
    background-color: azure;
}
.box{
    display: flex;
    height: 55%;
    width: 40%;
    border-radius: 20px;
    box-shadow: 10px 10px 40px .2px #abadb6;
    background-color: white;
    
}
.leftbox{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    background-image: linear-gradient(to bottom right, hsl(252, 100%, 67%),  hsl(241, 81%, 54%));
    border-radius: 20px;
    position: relative;
}
.rightbox{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    gap: 30px;
    background-color: white;
   

    
}
#p1{
    top: 20px;
    position: relative;
    font-size: large;
    color: rgb(138, 206, 206);
    font-weight: 500;
}
.circle{
    position: relative;
    top: 50px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, hsla(256, 72%, 46%, 1),  hsla(241, 72%, 46%, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
#p2{
    font-size: 2.5em;
    font-weight: 900;
    font-family: 'Fasthand', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lisu Bosa', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Noto Serif Vithkuqi', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'REM', sans-serif;
    font-stretch: ultra-expanded;
    color: azure;
}
#p3{
    color: rgb(200, 176, 176);
}
#p4{
    color: white;
    position: relative;
    top: 60px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
#p5{
    position: relative;
    top: 22%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgba(235, 219, 248, 0.705);
    font-family: 'Fasthand', cursive;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lisu Bosa', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Noto Serif Vithkuqi', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'REM', sans-serif;} 

.content{
    margin: 20px;
    height: 100%;
}
#p6{
    font-size: larger;
    font-weight: 600;
}
.result{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.subject{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;

}
.pinside{
    width: 50%;
    font-weight: 600;
}
.p2inside{
    font-weight: 600;
}
.p3inside{
    color: grey;
    font-weight: 600;
}
#sub1{
    background-color: hsla(0, 100%, 67%, 0.093);
}
#sub2{
    background-color:  hsla(39, 100%, 56%, 0.091);
}
#sub3{
    background-color: hsla(166, 100%, 37%, 0.095);
}
#sub4{
    background-color: hsla(234, 85%, 45%, 0.098);
}
#para1{
    color: hsl(0, 100%, 67%)  ;
}
#para2{
    color: hsl(39, 100%, 56%) ;
}
#para3{
    color: hsl(166, 100%, 37%);
}
#para4{
    color: hsl(234, 85%, 45%) ;
}
button{
    position: relative;
    top: 9%;
    width: 100%;
    border-radius: 20px;
    height: 35px;
    background-color: hsla(224, 30%, 27%, 0.96);
    color: azure;
    border: none;
}
@media (max-width:500px){
    .container{
        height: 100%;
        width: 100%;
    }
    .box{
        height: 100%;
        width: 100%;
        flex-direction: column;
    }
    .leftbox{
        height: 350px;
        width: 100%;
    }
    .rightbox{
        width: 100%;
        height: 350px;
    }
    button{
        top: 20px;
    }

}
@media (min-width:1400px){
    .box{
        height:390px
    }
}